version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: rgs
      POSTGRES_PASSWORD: rgs
      POSTGRES_DB: rgs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "rgs" ]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 5s

  migrate:
    image: migrate/migrate
    depends_on:
      - postgres
    volumes:
      - ./migrations:/migrations
    command: [
      "-path=/migrations",
      "-database=postgres://rgs:rgs@postgres:5432/rgs?sslmode=disable",
      "up"
    ]
    restart: "on-failure"

  walletmock:
    build:
      context: .
      dockerfile: walletmock/Dockerfile
    ports:
      - "9000:9000"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:9000/health" ]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 2s

  rgs:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      walletmock:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      otel-collector:
        condition: service_started
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://rgs:rgs@postgres:5432/rgs?sslmode=disable
      WALLET_URL: http://walletmock:9000
      WALLET_SECRET: testsecret123
      WEBHOOK_SECRET: webhooksecret123
    ports:
      - "8080:8080"

  adminer:
    image: adminer
    restart: always
    ports:
      - "9090:8080"
    depends_on:
      - postgres

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.95.0
    command: ["--config=/conf/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/conf/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:1.47
    ports:
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
    restart: unless-stopped

volumes:
  postgres_data: